*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppin', sans-serif;
}
:root {
    --primary: #44e9ff;
    --secondary: #497980;
    --tertiary: rgb(192, 246, 253);
    --grey: #333;
    font-size: 62.5%;
}

header {
    background: var(--secondary);
    padding: 30px 25px;
    border-bottom: 5px solid var(--primary);
}
  
header p {
    color: var(--tertiary);
    margin: 5px 0 20px;
    font-size: 3rem;
    font-family: initial;
}
p {
  font-size: 1.6rem;
}
footer {
    width: 100%;
    background: var(--secondary);
    color: var(--tertiary);
    font-size: 2.4rem;
    padding: 20px;
    border-top: 5px solid var(--primary);
}
  
.title {
    color: var(--primary);
    margin-bottom: 5px;
    margin-top: 0;
    font-size: 4.5rem;
}
body {
    background: #ededed;
    color: var(--grey);
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.info_box,
.quiz_box,
.result_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 4px 8px 0 rgba(0,0,0,0.2),
                0px 6px 20px 0 rgba(0,0,0,0.19);
    transition: all 0.3s ease;            
}

.info_box.activeInfo,
.quiz_box.activeQuiz{
   /* display: block;  */
   /* z-index: 5; */
    /* opacity: 1; */
   /* pointer-events: auto; */
   transform: translate(-50%, -50%) scale(1);
} 

.start_btn button:hover {
    box-shadow: 0 2px grey;
    top: -2px;
}
.start_btn button:active {
    box-shadow: 0 0px grey;
    top: 0;
}
  
.info_box{
   display: none;
   width: 540px;
   background:  #fff;
   border-radius: 5px;
   transform: translate(-50%, -50%) scale(0.9);

}
.info_box .info_title{
    height: 60px;
    width: 100%;
    border-bottom: 1px solid rgb(88, 78, 78);
    display: flex;
    align-items: center;
    padding: 0 30px;
    font-size: 20px;
    font-weight: 600;
}
.info_box .info_list {
    padding: 15px 35px;
}

.info_box .info_list .info {
    margin: 5px 0;
    font-size: 17px;
}
.info_box .info_list .info span {
    font-weight: 600;
    color: rgb(233, 116, 116);
}
.info_box .buttons{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 35px;
    border-top: 1px solid black;
}
.info_box .buttons button{
    margin: 0 5px;
    height: 40px;
    width: 100px;
    outline: none;
    border: 1px solid #007bff;
    transition: all 0.3s ease;
    border-radius: 5px;
    color: black;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.buttons button.quit{
    color: black;
    border-color: black;
}
.buttons button.quit:hover{
    box-shadow: 0 2px var(--grey);
    top: -2px;
    background-color: lightgreen;
}
.buttons button.restart{
    color: black;
    border-color: black;
}
.buttons button.restart:hover{
    box-shadow: 0 2px var(--grey);
    top: -2px;
    background-color: lightgreen;
}
.quiz_box{
   display: none;
   width: 550px;
   background: #fff; 
   border-radius: 5px;
   pointer-events: none;
   transform: translate(-50%, -50%) scale(0.9);
}
.quiz_box .ques_text {
    position: relative;
    /* z-index: 99; */
    height: 70px;
    padding: 0 30px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0 0 ;
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.1);
} 
.quiz_box .ques_text {
    font-size: 25px;
    font-weight: 600;
}
.timer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
    height: 45px;
    background: #cce5ff;
    border: 1px solid #b8daff;
    border-radius: 5px;
    padding: 0 8px;   
}


.startbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 145px;
    height: 45px;
    background: #cce5ff;
    border: 1px solid #b8daff;
    border-radius: 5px;
    padding: 0 8px;
    position: relative;
    font-size: 2.5rem;
    font-family: initial;
}

.startbtn:hover {
    box-shadow: 0 2px var(--grey);
    top: -2px;
}
.startbtn:active {
    box-shadow: 0 0px var(--grey);
    top: 0;
}

.timer .time_text{
    font-weight: 400;
    font-size: 1.9rem;
    user-select: none;
    font-family: initial;
}
.timer .timer_sec {
    font-size: 18px;
    font-weight: 500;
    background: #343a40;
    height: 30px;
    width:45px;
    color: #fff;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    border: 1px solid #343a40;
    user-select: none;
}
  

.quiz_box section {
    padding: 25px 30px 20px 30px;

}

.quiz_box section .que_text {
    font-size: 25px;
    font-weight: 600;
}
.quiz_box section .option_list{
    padding: 20px 0;
    display: block;
}
section .option_list .option {
    background: aliceblue;
    border: 1px solid #84c5fe;
    border-radius: 5px;
    padding: 8px 15px;
    margin-bottom: 15px;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.3s ease;
}
section .option_list .option:hover{
    color: #004085;
    background: #cce5ff;
    border-color: #b8daff;
}

.option_list .option:last-child {
    margin-bottom: 0px;
}

.option_list .option .icon{
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    line-height: 24px;
    pointer-events: none;

}
.option_list .option .icon.tick {
    color: #101a12;
    border-color: #23903c;
    background: #d4edda;
}
.option_list .option .icon.cross {
    color: #a42834;
    border-color: #a42834;
    background: #f8d7da;
}

.quiz_box footer{
    height: 60px;
    width: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quiz_box footer .total_que span{
    display: flex;
    user-select: none;
}

footer .total_que span p{
    font-weight: 500;
    padding: 0 5px;
}

.total_que span p:first-child{
    padding-left: 0px;
}

footer .next_button {
    height: 40px;
    padding: 0 15px;
    font-size: 18px;
    font-weight: 00;
    border: none;
    outline: none;
    color: #fff;
    background: rgb(27, 27, 18);
    border-radius: 5px;
    border: 1px solid rgb(43, 38, 11);
    cursor: pointer;
    transition: all 0.3s ease;
}

footer .next_button:hover{
    background: #0263ca;
}

.result_box {
    background: #fff;
    width: 450px;
    padding: 25px 30px;
    border-radius: 5px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.5);
}
.result_box .complete_text{
    font-size: 20px;
    font-weight: 500;
}
.result_box .score_text span{
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}
.score_text span p{
    font-weight: 600;
    padding: 0 4px;
}

.result_box .buttons{
    display: flex;
    margin: 20px 0;
}
.result_box .buttons button{
    margin: 0 10px;
    height: 45px;
    padding: 0 20px;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid #007bff;
    cursor: pointer;
    transition: all 0.3s ease;
}
.page-content {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px auto;
    width: 95%;
}

@media screen and (max-width: 980px) {
    form .form-group {
      flex: 1 100%;
    }
  
    form .form-group button {
      width: 100%;
    }
  
    .questionbox {
      flex-basis: 100%;
    }
    .page-content {
        flex-basis: 100%;
    }
    .info_box {
        flex-basis: 100%; 
    }
  
  }